body {
  overflow-x: hidden;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1478c2;
}
#dots {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
}
#encryption {
  position: absolute;
  top: 200px;
  left: 200px;
  z-index: -1;
}
img {
  display: block;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
}
svg#layer_1 {
  display: none;
}
