
/* line 286 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/src/stylus/app.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/stylus/lib/functions/index.styl */

/* line 260 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/rupture/rupture/index.styl */

/* line 14 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/rupture/rupture/index.styl */

/* line 40 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/index.styl */

/* line 10 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/index.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/border.styl */

/* line 28 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/border.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/clearfix.styl */

/* line 4 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/clearfix.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/color-image.styl */

/* line 196 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/color-image.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/flex.styl */

/* line 90 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/flex.styl */

/* line 40 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/gradients.styl */

/* line 11 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/gradients.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/config.styl */

/* line 7 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/iconic.styl */

/* line 25 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/iconic.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/image.styl */

/* line 19 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/image.styl */

/* line 40 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/normalize/index.styl */

/* line 8 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/normalize/index.styl */

/* line 2 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/normalize/base.styl */

/* line 19 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/normalize/base.styl */

/* line 2 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 6 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 2 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/normalize/links.styl */

/* line 30 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/normalize/links.styl */

/* line 2 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/normalize/text.styl */

/* line 7 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/normalize/text.styl */

/* line 2 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 17 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 2 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 69 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 2 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 7 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 2 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 20 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/overflow.styl */

/* line 66 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/positions.styl */

/* line 78 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/reset.styl */

/* line 40 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/text/index.styl */

/* line 12 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/text/index.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/text/aliases.styl */

/* line 9 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/text/aliases.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 8 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 2 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 577 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 541 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/vendor.styl */

/* line 11 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/vendor.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/config.styl */

/* line 28 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/size.styl */

/* line 17 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/nib/lib/nib/size.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/jeet/stylus/jeet/index.styl */

/* line 11 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/jeet/stylus/jeet/index.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/jeet/stylus/jeet/_settings.styl */

/* line 64 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/jeet/stylus/jeet/_settings.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/jeet/stylus/jeet/_functions.styl */

/* line 281 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/jeet/stylus/jeet/_functions.styl */

/* line 1 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/node_modules/jeet/stylus/jeet/_grid.styl */

/* line 4 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/src/stylus/app.styl */
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* line 9 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/src/stylus/app.styl */
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
}

/* line 18 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/src/stylus/app.styl */
#large-dots,
#small-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

/* line 25 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/src/stylus/app.styl */
#small-dots {
  position: fixed;
}

/* line 28 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/src/stylus/app.styl */
#encrypted,
#unencrypted {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* line 36 : /Users/Scott/Desktop/work/PROTOTYPES/verifyle/src/stylus/app.styl */
img {
  position: relative;
  display: block;
  margin: 0 auto;
  z-index: 3;
}
